body{
    background: #cfd0d1;
}
.update-container{
    width: 350px;
    margin: auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px #ccc;
    border-radius: 10px;
}
.edit-title{
    text-align:center;
    margin:30px;
    font-family:arial;
}
form label {
    display: block;
    margin-top: 10px;
}

form input, form select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background: #673ab7;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}
.edit-btn {
    padding: 5px 10px;
    background: #ffc107;
    color: black;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
}

.edit-btn:hover {
    background: #e0a800;
    color: white;
}
